.default-theme {
    background-color: rgba(200,0,100,0.2);
    border-radius: 1em;
    padding: 1em;
}
.default-theme a {
    color: rgba(255, 150, 150, 1);
}
.default-theme a:hover {
    cursor: pointer;
    color: rgba(255, 150, 150, 0.6);
}
