.default-theme {
    background-color: rgba(0,200,255, 0.6);
    color: white;
    border-radius: 0.5em;
    padding: 1em;
}
.default-theme a {
    color: rgba(255, 165, 0, 1);
}
.default-theme a:hover {
    color: rgba(255, 165, 0, 0.6);
}
