{% extends 'songs/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static "wiki/wiki_styles.css" %}">

    <style media="screen">

        {{ request.user.settings.wiki_theme.as_css }}

    </style>

{% endblock head %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'wiki:dashboard' %}">Wiki</a></li>
    {% block wiki_breadcrumbs %}{% endblock wiki_breadcrumbs %}
{% endblock breadcrumbs %}

{% block body %}
    <div class="body-wrapper">

        <div class="default-theme user-theme p-0 m-0">

            <div class="row m-0 p-0">

                <div class="col-md-auto col-sm-12 p-0 m-0 small border-right border-bottom border-dark rounded">

                    <button class="btn btn-block d-md-none" type="button" data-toggle="collapse" data-target="#wiki-menu">
                        <span class="navbar-light"><span class="navbar-toggler-icon"></span></span>
                    </button>

                    <div id="wiki-menu" class="collapse d-md-block">
                        <div class="p-2">

                            <div class="h4 border-bottom border-secondary">Wiki innhold:</div>

                            <div class="">
                                {% for folder in root_folders %}
                                    {% include "wiki/tree_structure.html" %}
                                {% endfor %}
                            </div>

                            <hr>

                            <div class="d-flex">
                                {% if perms.wiki.add_folder %}
                                    <a class="text-underline" href="{% url 'wiki:add_folder' %}">+ Mappe</a>
                                {% endif %}
                                {% if perms.wiki.add_page %}
                                    <a class="ml-auto text-underline" href="{% url 'wiki:add_page' %}">+ Side</a>
                                {% endif %}
                            </div>

                        </div>

                    </div>


                </div>

                <div class="col-sm m-0 p-2">
                    {% block wiki_page %}
                        <div class="d-flex">
                            <div class="h2">Dashboard</div>
                            {% if perms.wiki.add_page %}
                                <div class="ml-auto"><a class="btn btn-dark btn-sm text-light" href="{% url 'wiki:add_page' %}">Legg til ny side</a></div>
                            {% endif %}

                        </div>
                    {% endblock wiki_page %}
                </div>

            </div>




        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}
