{% extends 'songs/base.html' %}
{% block title %}BPM Kalkulator{% endblock %}

{% block head %}
    <style media="screen">
        #touch {
            outline: none;
        }
        #touch {
            position: absolute;
            top: 12em;
            left: 0;
            right: 0;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }
        #touch-text {
            position: absolute;
            top: 18.9em;
            left: 0;
            right: 0;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }
        #form-wrapper {
            margin-top: 7em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:bpm_calc' %}">BPM Kalkulator</a></li>
{% endblock %}

{% block body %}
    <h1>BPM Kalkulator</h1>

    {% if request.user_agent.is_touch_capable %}
        <div id="touch-div" class="">
            <img id="touch" class="" src="https://img.icons8.com/nolan/120/006F30/unchecked-circle.png" alt="">
        </div>
        <div id="touch-text" class="text-center small">
            Trykk her
        </div>
    {% endif %}


    <div id="form-wrapper" class="container">
        <form>
            <div class="small font-italic mb-2">
                Museklikk eller tastetrykk for å starte
            </div>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" for="whole">Nærmeste hele</label>
                <div class="col-md-4">
                    <input id="whole" class="form-control" readonly type="text" name="T_WHOLE">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" for="avg">Gjennomsnitt BPM</label>
                <div class="col-md-4">
                    <input id="avg" class="form-control" readonly type="text" name="T_AVG">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" for="tap">Antall klikk</label>
                <div class="col-md-4">
                    <input id="tap" class="form-control" readonly type="text" name="T_TAP">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" for="timeout">Tidsavbrudd</label>
                <div class="col-md-4">
                    <select id="timeout" class="form-control">
                        <option>1</option>
                        <option selected>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        var count = 0;
        var msecsFirst = 0;
        var msecsPrevious = 0;

        function TapForBPM(e) {
            timeSeconds = new Date;
            msecs = timeSeconds.getTime();
            if ((msecs - msecsPrevious) > 1000 * $('#timeout').val()) {
                count = 0;
            }

            if (count == 0) {
                $('#avg').val("First Beat")
                $('#whole').val("First Beat")
                $('#tap').val("First Beat")
                msecsFirst = msecs;
                count = 1;
            }
            else {
                bpmAvg = 60000 * count / (msecs - msecsFirst);
                $('#avg').val(Math.round(bpmAvg * 100) / 100)
                $('#whole').val(Math.round(bpmAvg))
                count++;
                $('#tap').val(count)

            }
            msecsPrevious = msecs;
            return true;
        }

        document.onkeypress = TapForBPM;

        $('document').ready(function() {
            $('#touch').click(TapForBPM);
            $('#touch').click(function() {
                $('#touch').animate({height: "+=5"}, 50)
                $('#touch').animate({height: "-=5"}, 50)
            });
            $(window).click(TapForBPM);

        })
    </script>
{% endblock %}
