{% extends 'songs/base.html' %}
{% block title %}Sang{% endblock %}

{% load static %}

{% block head %}
    <script type="text/javascript" src="{% url 'songs:javascript-catalog' %}"></script>

    {{ form.media }}

    <link rel="stylesheet" href="{% static "songs/css/song_styles.css" %}">

    <style media="screen">
        .selector select::-webkit-scrollbar {
            width: 0.4em;
        }
        .selector select::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,1);
            border-radius: 10px;
        }
        .selector select::-webkit-scrollbar-track {
            background-color: white;
            border-radius: 10px;
        }
        .selector-available, .selector-chosen {
            width: 200px;
        }
        .selector h2 {
            font-size: 1.1em;
            color: white !important;
            background: rgba(255, 255, 255, 0.4) !important;
        }
        .selector select {
            width: inherit;
            height: 3.8em !important;
            color: white;
            background: rgba(255, 255, 255, 0.4);
        }
        .selector ul.selector-chooser {
            margin: 2.5em 5px 0 5px;
        }
        .selector .selector-filter, .selector .help-icon {
            display: none;
        }

        .tooltip-inner {
            background: green;
        }

        {{ request.user.settings.song_theme.as_css }}

    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:all_songs' %}">Alle sanger</a></li>
    {% if songID %}
        <li class="breadcrumb-item"><a href="{% url 'songs:edit_song' songID %}">Rediger sang</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'songs:add_song' %}">Opprett sang</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="">

        <div class="h1">
            Sang:
        </div>



        <div class="default-theme user-theme">

            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-5 mb-3">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {{ form.title.errors }}
                    </div>
                    <div class="col-md-5 mb-3">
                        {{ form.artist.label_tag }}
                        {{ form.artist }}
                        {{ form.artist.errors }}
                    </div>
                    <div class="col-md-2 mb-3">
                        {{ form.bpm.label_tag }}
                        <i class="lni-question-circle cursor-pointer custom-tooltip" data-toggle="tooltip" title="{{ form.bpm.help_text }}"></i>
                        <span class="ml-2" id="bmp"></span>
                        {{ form.bpm }}
                        <span class="text-muted small">Klikk for å beregne</span>
                        {{ form.bpm.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md mb-3">
                        {{ form.spotify_URL.label_tag }}
                        <i class="lni-question-circle cursor-pointer" data-toggle="tooltip" title="{{ form.spotify_URL.help_text }}"></i>
                        {{ form.spotify_URL }}
                        {{ form.spotify_URL.errors }}
                    </div>
                    <div class="col-md mb-3">
                        {{ form.spotify_URI.label_tag }}
                        <i class="lni-question-circle cursor-pointer" data-toggle="tooltip" title="{{ form.spotify_URI.help_text }}"></i>
                        {{ form.spotify_URI }}
                        <span class="error">{{ form.spotify_URI.errors }}</span>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    {{ form.tags }}
                </div>

                <div class="row">
                    <div class="col-md-4 mt-4">
                        <a class="btn btn-dark btn-block text-light" href="{% url 'songs:all_songs' %}">Avbryt</a>
                    </div>
                    <div class="col mt-4">
                        <button type="submit" class="btn btn-secondary btn-block text-light">Lagre</button>
                    </div>
                </div>

            </form>

        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

            var count = 0;
            var msecsFirst = 0;
            var msecsPrevious = 0;
            var timeout = 2000;

            function TapForBPM(e) {
                timeSeconds = new Date;
                msecs = timeSeconds.getTime();
                if ((msecs - msecsPrevious) > timeout) {
                    count = 0;
                }

                if (count == 0) {
                    $('#bmp').html("First Beat")
                    msecsFirst = msecs;
                    count = 1;
                }
                else {
                    bpmAvg = 60000 * count / (msecs - msecsFirst);
                    $('#bmp').html(Math.round(bpmAvg))
                    count++;
                }
                msecsPrevious = msecs;
                return true;
            }


            // Initialize tooltip from bootstrap
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $(document).ready(function() {
                document.onkeypress = TapForBPM;
                $(window).click(TapForBPM);
            })
        })

    </script>
{% endblock script %}
