{% extends 'songs/base.html' %}
{% load static %}

{% block title %}Tag{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static "songs/css/song_styles.css" %}">

    <style>
        .body-wrapper {
            max-width: 500px;
        }
        {{ request.user.settings.song_theme.as_css }}
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:add_tag' %}">Tag</a></li>
{% endblock %}

{% block body %}
    <div class="body-wrapper default-theme user-theme">

        <h1>Tag:</h1>
        <br>

        <form class="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-4">


                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    <div class="text-info small mt-1">
                        {{ field.help_text }}
                    </div>

                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-4 mt-4">
                    {% if form.instance %}
                        <a class="btn btn-dark btn-block text-light" href="{% url 'songs:song_view' form.instance.id %}">Avbryt</a>
                    {% else %}
                        <a class="btn btn-dark btn-block text-light" href="{% url 'songs:song_view' form.instance.id %}">Avbryt</a>
                    {% endif %}
                    <button type="button" class="btn btn-dark btn-block" onclick="window.history.back()">Avbryt</button>
                </div>
                <div class="col mt-4">
                    <button type="submit" class="btn btn-secondary btn-block">Lagre</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
