{% extends 'songs/base.html' %}
{% block title %}Video #{{ video.id }}{% endblock %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static "videos/video_styles.css" %}">

    <style media="screen">
        .gray-box {
            border: 1px solid #444444;
            border-radius: 5px;
        }
        {{ request.user.settings.video_theme.as_css }}
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'videos:all_videos' %}">Turbibliotek</a></li>
    <li class="breadcrumb-item"><a href="{% url 'videos:add_video' %}">Video #{{ video.id }}</a></li>
{% endblock %}

{% block body %}
    <div class="red-box container">
        <h2>{{ video }}</h2>
        <iframe width="720" height="405" src="{{ video.embedded }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col mb-3">
                    Vanskelighetsgrad: &nbsp {{ video.get_difficulty_display }}
                </div>
            </div>
            <div class="row">
                <div class="col gray-box mb-3">
                    <h4>Beskrivelse:</h4>
                    {{ video.description | linebreaks }}
                </div>
                <div class="col gray-box mb-3">
                    <h4>Fokuspunkt:</h4>
                    {{ video.focus | linebreaks }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
