{% extends 'songs/base.html' %}
{% load static %}
{% block title %}Alle kurs{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "courses/course_styles.css" %}">

    {{ form.media.css }}

    <style media="screen">
        span {
            display: inline;
        }
        .course-caret:hover {
            cursor: pointer;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.8);
        }
        #btn-add-course {
            position: sticky;
            top: 3.6em;
            z-index: 5;
        }
        .select2-container {
            color: black !important;
        }

        .zoom {
            transition: transform .2s; /* Animation */
        }
        .zoom:hover {
            transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            background-color: rgba(255, 255, 255, 0.9);
        }

        {{ request.user.settings.course_theme.as_css }}
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'courses:all_courses' %}">Alle kurs</a></li>
{% endblock %}

{% block body %}
    <div class="">

        <h1>Alle kurs</h1>

        <div id="btn-add-course" class="">
            <a class="btn btn-secondary" href="{% url 'courses:add_course' %}">
                {# <img src="https://img.icons8.com/material-rounded/25/FFAA00/plus-math.png"> #}
                <i class="lni-plus"></i>
                Legg til kurs
            </a>
        </div>

        <form id="filter" class="pb-3" action="{% url 'courses:all_courses' %}" method="post">
            {% csrf_token %}
            <div class="row m-0">
                <!-- Search (input) -->
                <div class="col-md">
                    <div class="invisible">
                        {{ form.search.label_tag }}
                    </div>
                    <div class="input-group">
                        {{ form.search }}
                        <button class="btn btn-dark text-light" type="submit" name="button">Søk</button>
                    </div>
                </div> <!-- End: Search (input) -->

                <!-- xxx -->
                <!-- Tag (select) -->
                <div class="col-md">
                    {{ form.tag.label_tag }}
                    {{ form.tag }}
                </div> <!-- End: Tag (select) -->

                <!-- Tag (select) -->
                <div class="col-lg">
                    {{ form.lead.label_tag }}
                    {{ form.lead }}
                </div> <!-- End: Tag (select) -->

                <!-- Tag (select) -->
                <div class="col-lg">
                    {{ form.follow.label_tag }}
                    {{ form.follow }}
                </div> <!-- End: Tag (select) -->

            </div>

            <div class="row m-0 mt-3">
                <!-- Search (input) -->
                <div class="col-md-4 mb-3">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.semester_char.label }}</span>
                        </div>
                        {{ form.semester_char }}
                        <div class="input-group-append">
                            <button class="btn btn-dark text-light" type="submit" name="button">Søk</button>
                        </div>
                    </div>
                </div> <!-- End: Search (input) -->

                <!-- xxx -->
                <!-- Tag (select) -->
                <div class="col-sm mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.bulk.label }}</span>
                        </div>
                        {{ form.bulk }}
                    </div>

                </div> <!-- End: Tag (select) -->

                <!-- Tag (select) -->
                <div class="col-sm mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.day.label }}</span>
                        </div>
                        {{ form.day }}
                    </div>

                </div> <!-- End: Tag (select) -->

                <!-- Tag (select) -->
                <div class="col-sm mb-3">
                    <button id="btn-external" class="btn text-light" type="button" name="button">{{ form.external.label }}</button>
                    {{ form.external }}
                </div> <!-- End: Tag (select) -->

                <div class="col-sm-3 text-right mb-2">
                    <button class="btn btn-dark text-light" type="submit" name="button">Søk</button>
                    <a class="btn btn-secondary text-light" href="{% url 'courses:all_courses' %}">Reset</a>
                </div>

            </div>

        </form>

        <div class="">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Ny versjon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Gammel versjon</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                    <div class="default-theme user-theme">
                        <div class="text-right mb-2">
                            Antall: {{ courses.count }}
                        </div>
                        <div class="row">
                            {% for course in courses %}
                                <div class="col-sm-6 col-lg-4 d-flex align-items-stretch">

                                    <div class="card border-0 flex-fill mb-4 zoom text-dark course-card cursor-pointer">

                                        <input type="hidden" name="course_url" value="{% url 'courses:course_view' course.id %}">

                                        <div class="card-header p-2">
                                            <div class="float-right">
                                                <a class="btn btn-sm p-1 btn-dark text-light" href="{% url 'courses:edit_course' course.id %}">Rediger</a>
                                            </div>
                                            {% if course.external %}
                                                <a class="text-dark" href="{% url 'courses:course_view' course.id %}">{{ course.semester_char }} {{ course.title }}</a>
                                            {% else %}
                                                <a class="text-dark" href="{% url 'courses:course_view' course.id %}">{{ course.semester_char }}, Bolk {{ course.bulk }}, Dag {{ course.day }}</a>
                                            {% endif %}

                                        </div>

                                        <div class="card-body small p-1 px-2">
                                            <div class=""><b>Tittel</b>: {{ course.title }}</div>
                                            <div class=""><b>Instruktør (lead)</b>: {{ course.lead }}</div>
                                            <div class=""><b>Instruktør (follow)</b>: {{ course.follow }}</div>
                                            <div class="float-right">
                                                {% for tag in course.tags.all %}
                                                    <span class="badge badge-primary p-1">{{ tag.title }}</span>
                                                {% endfor %}
                                                {% if course.external %}
                                                    <span class="badge badge-danger p-1">eksternkurs</span>
                                                {% endif %}

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                    <div class="default-theme user-theme">
                        <div class="text-right">
                            Antall: {{ courses.count }}
                        </div>
                        <ol id="all-courses">
                            {% for course in courses %}
                                <li>
                                    <a class="default-theme-link user-theme-link" href="{% url 'courses:course_view' course.id %}">{{ course.title }} ({{ course.date | default:'Ingen dato' }})</a>

                                    <span class="dropdown">
                                        <i class="lni-chevron-down cursor-pointer default-theme-link ml-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                        {# <img src="https://img.icons8.com/metro/20/FFFFFF/chevron-down.png" class="course-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> #}

                                        <div class="dropdown-menu">

                                            <a class="dropdown-item" href="{% url 'courses:edit_course' course.id %}"><i class="lni-pencil"></i> Rediger kurs</a>

                                            <!-- Delete Course (button) -->
                                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#delete-course"><img src="https://img.icons8.com/material/14/000000/delete-sign--v1.png"> Slett kurs</a>

                                        </div> <!-- END: dropdown-menu -->
                                    </span>
                                </li>
                                <!-- Delete Course (modal) -->
                                <div class="modal fade text-dark" id="delete-course" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h5 class="modal-title">Er du helt sikker på at du vil slette kurset?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body"><p>Du vil miste all data!</p></div>

                                            <div class="modal-footer">
                                                <!-- Delete Course confirmed (button) -->
                                                <a class="btn btn-danger" href="{% url 'courses:delete_course' course.id %}">Slett kurs</a>
                                                <!-- Cancel (button) -->
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End: Delete Course (modal) -->
                            {% endfor %}
                        </ol>
                    </div>
                </div>

            </div>
        </div>








    </div>
{% endblock %}

{% block script %}

    {{ form.media.js }}

    <script type="text/javascript">

        $("#btn-external").each(function() {
            if ( $("#id_external").prop("checked") ) {
                $(this).addClass("btn-success")
            }
            else {
                $(this).addClass("btn-dark")
            }
        })

        $(document).ready(function() {


            $('.course-filter').change(function() {
                $('form').submit();
            });

            $('.course-card').click(function() {
                var url = $(this).find('input').val();
                window.location.href = url;
            })

            $("#btn-external").click(function() {
                $("#id_external").prop("checked", !$("#id_external").prop("checked") );
                $(this).toggleClass("btn-dark btn-outline-dark");
                $("form").submit();
            })

        });
    </script>
{% endblock %}
